@font-face {
    font-family: "iconfont";
    src: url('./iconfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

.hello {
    color: blue;
    background: url('./icon.png') no-repeat;/*被webpack处理替换为 output 目录中图像的最终路径 */
    font-family: 'iconfont';
    
}